:root {
    --darkpurple: #3E0957;
    --antiquewhite: #f8faf9;
    --brightorange: #F3AF05;
}

input[type]:focus {
    border-color: var(--darkpurple);
    box-shadow: 0px 0px;
}

#search-gymbro {
    background-color: var(--darkpurple);
}

.oncanvas-nav-link {
    color: var(--antiquewhite) !important;
}

.oncanvas-nav-link:hover {
    color: var(--darkpurple) !important;
    background-color: var(--antiquewhite) !important;
    padding: 3px;
    border-radius: 2px;
}

.oncanvas-nav-link.active {
    color: var(--brightorange) !important;
}

.footer-fs {
    font-size: 12px;
}

@media screen and (max-width: 745px){
    .search-input-group, .auth-cart, .oncanvas-nav-link-group {
        display: none !important;
    }
}

@media screen and (min-width: 745px) {
    button.navbar-toggler {
        display: none !important;
    }
}




